<div>
    <h2>Register New Employee</h2>
    <h3>Please Fill the inputs</h3>
    <div class="form register-form">
        <label>Name:</label>
        <input type="text" id="txtname">
    <div>
        <button onclick="SendTest()" class="btn btn-primary btn-md">Submit</button>
    </div>
    </div>
</div>